.rediger-kalender {
    padding: 1em;
    position: fixed; /* Fester NyKalender til visningsvinduet */
    top: 10%; /* Plasserer NyKalender 10% ned fra toppen av visningsvinduet */
    bottom: 100px; /* Gir plass til footer */
    left: 0;
    width: 100%; /* Full bredde av visningsvinduet */
    display: flex;
    flex-direction: column; /* Organiserer innholdet vertikalt */
    align-items: center; /* Sentrerer innholdet horisontalt */
    box-sizing: border-box; /* Inkluderer padding i den totale bredden */
    overflow-y: auto; /* Tillater vertikal rulling */
}



h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 kolonner for hver dag i uken */
    gap: 10px;
    width: 90%;
}

.calendar-header {
    display: contents; /* Sikre at header-cellen vises som en del av grid-layout */
}

.calendar-weekday {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #ddd; /* Lys bakgrunn for ukedagene */
}

.calendar-day {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.calendar-day button {
    margin-top: 5px;
}

.day-number {
    font-weight: bold;
    margin-bottom: 5px; /* Litt avstand under dagsnummeret */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Halvgjennomsiktig bakgrunn */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
}

.event-box {
    background-color: #118eaa;
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%; /* Sørg for at event-boksen fyller bredden av kalenderdagen */
}

.delete-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}


