/* seKalender.css */

/* Generelle stiler */
.se-kalender {
    padding: 1em;
    position: fixed;
    top: 10%;
    bottom: 150px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Stil for overskrift */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Grid for kalenderen */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 90%;
}

/* Header for ukedager */
.calendar-header {
    display: contents;
}

/* Ukedager stil */
.calendar-weekday {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #000000;
}

/* Stil for hver dag i kalenderen */
.calendar-day {
    border: 1px solid #000000;
    padding: 5px;
    text-align: left; /* Justere til venstre */
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Justere til venstre */
    justify-content: flex-start;
    font-size: 16px;
    min-height: 100px; /* Sikre nok høyde for innhold */
    
}

/* Container for eventer inne i kalenderdagen */
.event-container {
    display: flex; /* Legg til flexbox for horisontal visning */
    flex-wrap: wrap; /* Tillat bryting til ny linje om nødvendig */
    gap: 5px; /* Litt avstand mellom eventer */
    width: 100%; /* Full bredde av kalenderdagen */
}

/* Nummer på dagen stil */
.day-number {
    font-weight: bold;
    margin-bottom: 5px;
    align-self: flex-start; /* Justere til venstre */
}

/* Eventer som tekst i dagene */
.event-text {
    background-color: #e3f2fd;
    color: #000000;
    padding: 1px;
    border-radius: 4px;
    text-align: left;
    width: auto; /* Tilpass bredde til innholdet */
    box-sizing: border-box;
    font-size: 14px; /* Juster fontstørrelse om nødvendig */
    margin-top: 0; /* Fjern margin-top */
    display: inline-block; /* Vise horisontalt */
}

/* Legg til et komma etter hver event, unntatt den siste */
.event-text::after {
    content: ','; /* Legg til et komma etter teksten */
}

.event-text:last-child::after {
    content: ''; /* Fjern kommaet etter den siste eventen */
}

/* Spesifikke stiler for PDF-utskrift */
@media print {
    .se-kalender {
        padding: 0;
        position: relative;
        width: 100%;
        overflow: visible;
    }

    .calendar-grid {
        width: 100%;
        grid-template-columns: repeat(7, 1fr);
    }

    .calendar-day {
        page-break-inside: avoid; /* Forhindre sidebrytning inne i kalenderdager */
    }
}
